<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  CourseVerse wants to be the social network for higher education. Facebook keeps you connected with your friends and LinkedIn connects you to other professionals. But there's no network to connect you with your classmates, college alumni,  favorite topics and professors. CourseVerse is dedicated to fill this gap.
</p>