<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
   CourseVerse provides peer reviews about college courses to help students select the right course each semester.
</p>
<p>
  Compared to similar websites such as RateMyProfessor.com, CourseVerse offers the following benefits:
  <br>
  <ol>
  	<li><strong>Course review</strong>: CourseVerse is about the whole learning experience not just the instructor. Students review on course content, exam, course load and instructor.</li>
  	<li><strong>Trust</strong>: CourseVerse identifies users through their college email. It also enables users to connect their account to Facebook to create more authentic reviews.</li>
  	<li><strong>Privacy</strong>: CourseVerse provides privacy settings through Facebook: reviewers can keep their idendentity private or public, or they can reveal it just to their Facebook friends.</li>
  	<li><strong>Feedback</strong>: CourseVerse provides LIKE buttons for each review to enable users 'like' the reviews they find useful or agree with.</li>
  </ol>
  <br>
</p>
<p>
  CourseVerse is Yelp for college courses. It is currently available to Babson College students.
</p>