<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	<ul>
		<li> Fill out the course name and its instructor.</li>
		<li> Answer one or more questions about the course.</li>
		<li> Submit!</li>
    </ul>
</p>