<% provide(:title, 'Help') %>
<div style='width:500px'>
    <h1>Help</h1>
	<p>
		<h4>What is CouseVerse?</h4>
		CourseVerse is Yelp for college courses. Students share their reviews on college courses to help others make a wiser choice each semester.
	</p>
	<p>
		<h4>How can I review a course?</h4>
		<ul>
			<li> Sign up.</li>
			<li> Fill out the course, prof and semester fields.</li>
			<li> Rate the course.</li>
			<li> Answer at least one question.</li>
			<li> Submit!</li>
	    </ul>
	</p>
	<p>
		<h4>Why is it required to sign up with my college email?</h4>
		Your college email is required to verify you are a current student. Your email remains confidential. 
	</p>
</div>