  <div class="center hero-unit">
    <%= image_tag('Babson_College_logo.png', alt: 'Babson_College_Logo') %>
    <h3>Let Your Legacy Remain at Babson</h3>
    <p>You had a course and said 'Meh!' You took a course and said 'Yeah!'</p>
    <h2 style='color:darkblue'>Share your experience and help others make a wiser choice.</h2>
    <br>
    
    <%= link_to "START", root_path, 
                                class: "btn btn-large btn-primary" %>

    <br>
    <br>
    <br>
    <h4>CourseVerse is Yelp for College Courses.</h4>
    <small><%= link_to "Read more ...", '/about' %></small>
  </div>