  <div class="center hero-unit">
    <h3>Let Your Legacy Remain at Babson</h3>
    <p>There are courses that you will never forget.</p>
    <h2>Share your experince and help others make a wiser choice.</h2>
    <br>
    
    <%= link_to "START", root_path, 
                                class: "btn btn-large btn-primary" %>

    <br>
    <br>
    <h2>CourseVerse is Yelp for college courses.</h2>
  </div>