<% provide(:title, "Sign Up Complete") %> 
<div class="center hero-unit">
  <h3>Thank you for signing up!</h3>
  <br/>
  <p>The registration email was sent to <strong> <%= @user.email %> </strong></p>
  <p>Check your email for the link to complete registration.</p>
  <p><small>If you don't see this email in your inbox, look for it in your junk-mail folder. 
     If you find it there, please mark the email as 'Not Junk'. It may take a few minutes to receive the email.</small></p>
</div>
